/* .input {
    display: flex;
    justify-content: center;
} */

.input {
    display: flex;
    width: 38rem;
    margin: 2rem;
    padding: 0.6rem 1rem;
    background-color: #007580;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #282846;
}


.input__inputfields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input__text-and-create {
    display: flex;
}


.input__textfield {
    min-width: 28rem;
    width: 100%;
    height: 4rem;
    padding: 0.3rem;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    overflow-wrap: break-word;
    outline: none;
}

.input__create-button {
    height: 100%;
    display: flex;
    align-items: center;
}

.btn-round.btn--create {
    margin: 0.5rem;
    padding: 0.5rem;
    height: 4rem;
    background-color: #fed049;
    border-radius: 20%;
    font-size: 1.4rem;
    width: 5rem;
    
}

.input__category-and-date {
    display: flex;
    margin-bottom: 1rem;
    justify-content: flex-start;
    width: 100%;
}

.category-select {
    appearance: none;
    display: inline-block;
    width: 12rem; 
    height: 3rem;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.due-date-select {
    width: 12rem;
    border-radius: 5px;
    height: 3rem;
    cursor: pointer;
}

.input__select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input__select--category {
    margin: 0 1.2rem;
}

.input__label {
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-right: 0.3rem;
}