.to-do-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
}

.doneItem-hidden {
    display: none;
}

.to-do-list__headline {
   font-size: 1.8rem;
   font-family: 'New Tegomin', serif;
   background-color: #007580;
   border: 2px solid #000000;
   border-radius: 10px;
   box-shadow: 2px 2px 5px #282846;
   color: white;
   width: 150px;
   display: inline-block;
   margin: 2rem 0;

}

.to-do-list__done-items {
    display: flex;
}

.to-do-list__done-items__headline {
    font-size: 1.8rem;
}