/* Default Style */

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 62.5%;
 
}

/* General Styling Elements */

.app {
  display: flex;
  justify-content: center;
  text-align: center;
}

.app__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d8ebe4;
  width: 450px;
  border: 3px solid black;
  border-radius: 20px;
}

.app__title {
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 3rem;
  font-family: 'New Tegomin', serif;
  border-radius: 10px;
  color: white;
  background-color: #007580;
  text-shadow: 1px 1px 1px black;
  box-shadow: 2px 2px 2px #007580;
  border: 2px solid black;
}

.title--yellow {
  color: #fed049;
  text-shadow: 1px 1px 1px black;
}

.app__hr {
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
}